{% extends 'base.html' %}


{% block header %}
  <h1 class="uk-heading-bullet uk-margin-top">{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" class="uk-form-stacked uk-container-xsmall">
    <div class="uk-margin">
      <div class="uk-inline uk-width-2-5">
        <span class="uk-form-icon" uk-icon="icon: user"></span>
        <input name="username" id="username" class="uk-input" placeholder="username" required>
      </div>
    </div>
    <div class="uk-margin">
      <div class="uk-inline uk-width-2-5">
        <span class="uk-form-icon" uk-icon="icon: lock"></span>
        <input type="password" name="password" id="password" placeholder="password" class="uk-input" required>

      </div>

    </div>
    <input type="submit" value="Log In" class="uk-button uk-button-primary uk-width-2-5 uk-margin-small-bottom">
  </form>
{% endblock %}